@use '../sass/variables' as *;
@use '../sass/typography' as *;

@use '../components/Navbar/Navbar' as *;
@use '../components/Slideshow/Slideshow' as *;
@use '../components/Menu/Menu' as *;
@use '../components/KingDeals/KingDeals' as *;
@use '../components/Favorites/Favorites' as *;
@use '../components/BKSpecials/BkSpecials' as *;

@use '../components/UI/Arrows/Arrows' as *;

@font-face {
  font-family: 'BB';
  src: url('../assets/Block\ Berthold\ Regular.ttf');
}

@font-face {
  font-family: 'DIN Regular';
  src: url('../assets/DIN\ Next\ LT\ Pro\ Regular.ttf');
}

@font-face {
  font-family: 'DIN Bold';
  src: url('../assets/DINNextLTPro-Bold.ttf');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  background-color: $color-background;
  font-family: 'DIN Regular';
}

header {
  width: 100%;
  height: 7.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: visible;
  background-color: $color-white;
}

.rounded-img {
  border-radius: 1rem 0 0 1rem;
}

.rounded-banner {
  border-radius: 1rem;
}

.banner {
  padding: 3rem 7.5% 0 7.5%;
}
