@use '../sass/variables' as *;

@use '../components/Navbar/Navbar' as *;
@use '../components/Slideshow/Slideshow' as *;

@font-face {
  font-family: 'BB';
  src: url('../assets/Block\ Berthold\ Regular.ttf');
}

@font-face {
  font-family: 'DIN Regular';
  src: url('../assets/DIN\ Next\ LT\ Pro\ Regular.ttf');
}

@font-face {
  font-family: 'DIN Bold';
  src: url('../assets/DINNextLTPro-Bold.ttf');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
}

header {
  width: 100%;
  height: 7.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: visible;
  background-color: $color-white;
}
