@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.BK-Specials {
  padding: $section-padding;

  &__heading {
    padding: $heading-padding;
  }

  &__bottom {
    position: relative;
  }

  &__card-container {
    width: 100%;
    padding: 0.5rem 0;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    flex: 0 0 37rem;
    height: 18rem;
    margin-right: 3rem;
    background-color: $color-white;
    border-radius: 1rem;
    @include flex(space-between, center);

    &--left {
      position: relative;
      width: 13rem;
      height: 100%;
    }

    &--right {
      width: calc(100% - 13rem);
      height: 100%;
      @include flex(space-between, center);
      flex-direction: column;
      padding: 1.6rem 2rem 2rem 1.6rem;
    }

    &--row {
      @include flex(flex-start, center);

      &--1 {
        margin-bottom: 3rem;
      }
    }

    &--top {
      width: 100%;
      @include flex(space-between, center);

      & img,
      & svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &--contents {
      font-size: 1.4rem;
    }

    &--title {
      align-self: flex-start;
      font-size: 1.8rem;
      line-height: 1.3;
    }

    &--bottom {
      width: 100%;
      @include flex(space-between, center);
    }

    &--price {
      font-size: 1.6rem;
    }

    &--btn {
      width: 10rem;
      height: 3.2rem;
      display: grid;
      place-items: center;
      font-size: 1.6rem;
      font-family: 'DIN Bold';
      color: $color-orange;
      background: none;
      border-radius: 2.5rem;
      border: 1px solid $color-orange;
    }
  }

  &__btn-container {
    width: 100%;
    margin-top: 3rem;
    display: grid;
    place-items: center;
  }

  &__btn {
    width: 34rem;
    padding: 1rem 0;
    border: none;
    font-family: 'BB';
    font-size: 2rem;
    border-radius: 2rem;
    color: $color-white;
    background-color: $color-orange;

    &:hover {
      cursor: pointer;
    }
  }
}
